body
{
  background-image: url("backgrounds/blurred.png");
  background-size: cover;
  background-color: black;
}

p
{
  font-family: "cooper_hewittbook";
  font-size: 1.4rem;
  text-align: justify;
}

strong
{
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif

}


/********************************************************************/
/* Colored bars, for separation and color theming */
/********************************************************************/

#purple_bar
{
  height: 5px;
  background-color: purple;
}

#royal_blue_bar
{
  height: 5px;
  background-color: rgb(65, 105, 225);
}

#emerald_green_bar
{
  height: 5px;
  background-color: #1B4242;
}

#black_bar
{
  height: 3px;
  background-color: black;
}

#grey_grad_50
{
  height: 50px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63));
}

#grey_grad_7
{
  height: 7px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63));
  margin: 0px 0px 2% 0px;
}








/********************************************************************/
/********************************************************************/
/********************************************************************/

h1 /* For names ? */
{
    font-size: 5rem;
    margin: 0px;
    color: purple;
    font-family: "cooper_hewittbook";
}


h1 .home_title /* gradient wouldn't show up on Safari iOS */
{
    font-size: 3rem;
    margin: 0px;
    color: black;
    /* background-image: linear-gradient(to right, rgb(0, 0 ,0), rgb(204, 204, 204));
    -webkit-background-clip: text;
    color: transparent; */ 
    display: flex;
    justify-content: center; 
}

h2 /* For titles or short 5 word max description ? */
{
    margin: 5px 0px;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, rgb(0, 0 ,0), rgb(124, 124, 124));
    -webkit-background-clip: text;
    color: transparent;
}






/********************************************************************/
/* Accessibility and links */
/********************************************************************/

.back_button
{
  background-image: linear-gradient(to top left, rgb(0, 0 ,0), rgb(61, 61, 61));
  border: none;
  color: white;
  padding: 30px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 3rem;
  font-family: "cooper_hewittbook";
  border-radius: 200px;
}








/********************************************************************/
/* Character bios */
/********************************************************************/

/********************************************************************/
/* Header */
/********************************************************************/

header
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 .character_bio_name
{
  padding: 10px 0 0 0;
  text-align: center;
  font-style: "cooper_hewittthin";
}

.affiliation
{
  font-size: 2.5rem;
  font-family: "cooper_hewittbook";
  padding: 0 2% 0 0;
  text-align: center;
}

/********************************************************************/
/* Bio */
/********************************************************************/

.character_bio
{
  text-align: left;
  word-wrap: break-word;
  
}
.character_bio_frame
{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 20px;
  margin: 20px 20px ;
  gap: 20px;
  border-radius: 20px;
}

.character_bio_photo
{
  margin: 0px 10px 0px 0px;
  float: left;
}

.character_bio_text
{
  text-align: justify;
  margin: 0 0% 0 0;
}

.character_relationships_container
{
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 10px 10px;
}

/********************************************************************/
/* Relationships */
/********************************************************************/

.character_relationships_frame
{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  text-align: center;
  font-family: "cooper_hewittbook";
  background-color: grey;
  margin: 10px 10px;
  transition: 500ms;
  
}

.character_relationships_frame:hover
{
  background-color: lightgray;
  transform: scale(1.1);
}

.character_relationships_frame:hover a
{
  color: rgb(161, 0, 161);
}

.relationship_character_name
{
  font-size: 1.3rem;
}

.relationship_status
{
  width: 70%;
}

.character_relationships
{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: baseline;
  padding: 20px 20px;
  margin: 20px 20px;
  background-color: white;
  width: 100%;
  border-radius: 20px;
}





/********************************************************************/
/* Home page */ 
/********************************************************************/

.character_frames
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 10px;
}



.character_frame
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 500ms;
}

.character_frame:hover
{
  opacity: 90%;
  transform: scale(1.1);
}

.character_frame:nth-child(1n)
{
  animation: scale_in 1s ease-in-out;
  animation-delay: 0.1s;
}



.character_frame_name
{
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: fade_in 1s;
}


.credits
{
  font-family: "cooper_hewittbook";
  margin-bottom: 10px;
}

.back_to_top
{
  font-family: "cooper_hewittbook";

}

@keyframes fade_in
{
  0% {
    color : black;
  }
  100% {
    color: initial
  }
}

@keyframes scale_in
{
  0% {
    transform: translateY(50%);
  }
  1% {
    transform: scale(0.1);
  }
  100% {
    transform: translateY(0%);
    border: 0px;
  }
}

@keyframes slide_in_right
{
  0% {
    transform: translateY(-50%);
  }
  30% {
    transform: scale(0.3);
  }
  100% {
    transform: translateY(0%);
  }
}

/********************************************************************/
/* Removes the stuff I don't like in classic CSS */
/********************************************************************/

ul {
    list-style-type: none;
}

a:link 
{ 
  text-decoration: none;
  color: purple;
  animation: fade_in 1s ease-out;
}

a:visited 
{
  text-decoration: none;
  color: purple; 
}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }



/********************************************************************/
/* Fonts */
/********************************************************************/

@font-face {
  font-family: 'cooper_hewittthin';
  src: url('fonts/cooperhewitt-thin-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cooper_hewittbook';
  src: url('fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}